JWT_WEB_TOKEN_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=2h
SESSION_SECRET=your_session_secret_here

SALT_ROUNDS=10
PEPPER=your_pepper_here

EMAIL_USER=noreply.healthandlifestyleblog@gmail.com
EMAIL_PASS=bssbnwjexdehskkt

PORT=5050

DB_USER=postgres
DB_HOST=localhost
DB_NAME=health-blog-db
DB_PASSWORD=password
DB_PORT=5433