<header class="navbar">

<h1 class="logo">Health and Lifestyle Blog</h1>

<nav>

<a href="/index.html">Home</a>

<a href="/blogListingPage.html">Blog</a>
<!-- <a href="/healthdiary.html">Diary</a> -->

<a href="/payment.html">Payment</a>

<a id="nav-signup" href="/signup.html">Sign Up</a>

<a id="nav-signin" href="/login.html">Sign In</a>

<a id="nav-account" href="/account.html" style="display:none">My Account</a>

<a id="nav-signout" href="#" style="display:none">Sign Out</a>

</nav>

</header>
